body {
    background-color: black;
}

nav {
    background-color: black;
    padding: 10px;
    font-size: 20px;
}

a {
    color: white;
    font-family: 'Vibur', cursive;
}

a:hover {
    color: #53b963;
    text-decoration: none !important
}