<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Trees from Space</title>
    <link href="https://fonts.googleapis.com/css?family=Inconsolata|Barlow&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/static/css/style.css"/>
</head>
<body>
    <header>
        <span>Trees from Space</span>
        <button class="btn btn-transparent">Want a sticker?</button>
    </header>

    <div class="content">
        <div class="content-inner">
            <div class="ci_right">
                {% include 'form.html' %}
                <!--<form action="">
                    <label for="name" class="block">Name</label>
                    <input type="text" name="name" class="w-100" />

                    <label for="address" class="block mt-2">Address</label>
                    <input type="text" name="address" class="w-100" />

                    <label for="city" class="block mt-2">City</label>
                    <input type="text" name="city" class="w-100" />

                    <label for="state" class="block mt-2">State</label>
                    <input type="text" name="state" class="w-100" />

                    <label for="zip" class="block mt-2">ZIP</label>
                    <input type="text" name="zip" class="w-100" />

                    <small class="block mt-2 text-justify slightly-muted">We are not collecting your information for tracking, data gathering, or other
                    various, nefarious purposes. We just want to send you a sticker.</small>

                    <button class="btn btn-right btn-primary mt-2" type="submit">SUBMIT</button>
                </form>-->

            </div>
        </div>
    </div>

    <script>
        document.querySelector('body').onclick = function(event) {
            let formButton = document.querySelector('.btn');
            let form = document.querySelector('.ci_right');

            if (event.target != formButton && event.target.closest('.ci_right') == null) {
                form.style.display = 'none';
            } else {
                form.style.display = 'flex';
            }

        }
    </script>

</body>
</html>