<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Trees from Space</title>
    <link href="https://fonts.googleapis.com/css?family=Inconsolata|Barlow&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/static/css/style.css"/>
</head>
<body>
    <header>
        <span>Trees from Space</span>
        <button class="btn btn-transparent">Want a sticker?</button>
    </header>

    <div class="content">
        <div class="ci_right">
            {% include 'form.html' %}
        </div>
    </div>

    <script>
        document.querySelector('body').onclick = function(event) {
            let formButton = document.querySelector('.btn');
            let form = document.querySelector('.ci_right');

            if (event.target != formButton && event.target.closest('.ci_right') == null) {
                form.style.display = 'none';
            } else {
                form.style.display = 'inline-block';
            }
        }

        document.getElementById('shipping-info-btn').onclick = function(event) {
            console.log('SHIPPING INFO BTN CLICKED');
            let contactInfoElements = document.querySelectorAll('.contact-info');
            for (el of contactInfoElements) {
                el.style.display = 'none';
            }

            let shippingInfoElements = document.querySelectorAll('.shipping-info');
            for (el of shippingInfoElements) {
                el.style.display = 'inline-block';
            }
        }

        document.getElementById('contact-info-btn').onclick = function(event) {
            let _contactInfoElements = document.querySelectorAll('.contact-info');
            for (el of _contactInfoElements) {
                el.style.display = 'inline-block';
            }

            let _shippingInfoElements = document.querySelectorAll('.shipping-info');
            for (el of _shippingInfoElements) {
                el.style.display = 'none';
            }
        }
    </script>

</body>
</html>