<form>
    <h3 class="contact-info">Contact Info.</h3>

    <label for="name" class="w-100 mt-2 contact-info">Name</label>
    <input type="text" class="w-100 contact-info" id="name">

    <label for="inputEmail4" class="w-100 mt-2 contact-info">Email</label>
    <input type="email" class="w-100 contact-info" id="inputEmail4" placeholder="Email">

    <small class="w-100 mt-2 text-justify slightly-muted-light contact-info">We are not collecting your information for tracking,
        data gathering, or other various, nefarious purposes. We just want to send you a sticker.</small>

    <button type="button" id="shipping-info-btn" class="btn btn-primary btn-right mt-2 contact-info">Next</button>

    <h3 class="shipping-info">Shipping Info.</h3>

    <label for="inputAddress" class="w-100 mt-2 shipping-info">Address</label>
    <input type="text" class="w-100 shipping-info" id="inputAddress" placeholder="1234 Main St">

    <label for="inputAddress2" class="w-100 mt-2 shipping-info">Address 2</label>
    <input type="text" class="w-100 shipping-info" id="inputAddress2" placeholder="Apartment, studio, or floor">

    <label for="inputCity" class="w-100 mt-2 shipping-info">City</label>
    <input type="text" class="w-100 shipping-info" id="inputCity">

    <label for="inputState" class="w-100 mt-2 shipping-info">State</label>
    <select id="inputState" class="w-100 shipping-info">
        <option selected>Choose...</option>
        <option>...</option>
    </select>

    <label for="inputZip" class="w-100 mt-2 shipping-info">Zip</label>
    <input type="text" class="w-100 shipping-info" id="inputZip">

    <button type="button" class="btn btn-primary mt-2 shipping-info" id="contact-info-btn">Back</button>
    <button type="submit" class="btn btn-right btn-primary mt-2 shipping-info">Submit</button>
</form>