<form>
    <label for="inputEmail4" class="block mt-2">Email</label>
    <input type="email" class="w-100" id="inputEmail4" placeholder="Email">

    <label for="inputPassword4" class="block mt-2">Password</label>
    <input type="password" class="w-100" id="inputPassword4" placeholder="Password">

    <label for="inputAddress" class="block mt-2">Address</label>
    <input type="text" class="w-100" id="inputAddress" placeholder="1234 Main St">

    <label for="inputAddress2" class="block mt-2">Address 2</label>
    <input type="text" class="w-100" id="inputAddress2" placeholder="Apartment, studio, or floor">

    <label for="inputCity" class="block mt-2">City</label>
    <input type="text" class="w-100" id="inputCity">

    <label for="inputState" class="block mt-2">State</label>
    <select id="inputState" class="w-100">
        <option selected>Choose...</option>
        <option>...</option>
    </select>

    <label for="inputZip" class="block mt-2">Zip</label>
    <input type="text" class="w-100" id="inputZip">

    <small class="block mt-2 text-justify slightly-muted-light">We are not collecting your information for tracking,
        data gathering, or other various, nefarious purposes. We just want to send you a sticker.</small>

    <button type="submit" class="btn btn-right btn-primary mt-2">Submit</button>
</form>